# MacOS
.DS_Store
*.jar

# vscode
.vscode

# virtual environments
.venv

# PyTorch
*.pt

# Python
__pycache__

# Jupyter Notebooks
.ipynb_checkpoints

# Data Files
*.csv

# LaTeX auxiliary build files
*.log
*.toc
*.out
*.aux
*.gz
*.bak
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
**/aux

# Image Files
**/images